.registerPlace_box {
  margin-top: 2rem;
  width: 100%;
  /* height: 1880px; */
  background-color: #eeeeee;
}

.typeLoc_box {
  width: 100%;
}

.typeLoc_pod {
  flex: 0 0 auto;
  width: 33.33%;
  padding: 0 1rem;
}

.properties_box {
  background-color: #eeeeee;
  width: 100%;
  /* height: 400px; */
  margin-left: auto;
  margin-right: auto;
}

/* .properties_wrapper {
  background: #80b8be;
  width: clamp(20rem, 85vw, 33.75rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  height: 100%;
} */

.properties_podX {
  gap: 1rem;
  /* justify-content: space-between; */
}

.properties_podX > * {
  flex: 0 1 auto;
  width: 100%;
  padding: 0 1rem;
}

.properties_case {
  width: 100%;
}

.phoneAttr {
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  gap: 1rem;
}
.phoneAttr_toogle {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 50%;
}
.phoneAttr_case {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: max-content;
}
